body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    height: 100vh;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 40px 0px;
}
#left{
    width: 60%;
   
    display: flex;
}
#right{
    width: 35%;
   border-left: 2px solid rgb(187, 180, 180);
    display: flex;
}
ul{
    list-style-type: none;
    margin:0 ;

}
a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 2px;
}
li{
    color: white;
}
h5{
    color:  rgb(193, 174, 174);
    margin-top: 0;
}
#menu{
    
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 100%;
    display: none;
}
#drop{
    position: relative;
}
#drop:hover #menu{
    display: flex;
}